<div class="formattingpartials">
  <h1><%= "#{success_message}"%>
  </h1>
  <hr></hr><br>
  <p align="center"><strong>EXCERPT</strong>
  </p>
  
  <p>"<%= raw "#{excerpt}" %>"
  </p>

  <p align="right">- <em><%= raw "#{source}" %></em>, <%= "#{person}" %><br>
  </p>
  
  <p><%= "#{@add_keywords}" %></p>
</div>
